@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu-item {
    @apply text-sm md:text-base lg:text-base font-bold hover:text-red-500 hover:underline
}
.menu-item-disabled {
    @apply text-sm md:text-base lg:text-base font-bold hover:text-red-500 hover:cursor-not-allowed opacity-25
}